@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Roboto:wght@300;400;700&display=swap')
*
    line-height: 1.175
    font-weight: $font-weight-normal
.dm-sans
    font-family: $font-dm-sans

.roboto
    font-family: $font-roboto

.bg-default
    background-color: $default

.bg-light
    background-color: $light !important

.bg-tint
    background-color: $tint

.bg-compare
    background-color: $compare

.bg-dark
    background-color: $dark

.bg-white
    background-color: $white
    
.color-default
    background-color: $default

.color-light
    background-color: $light !important

.color-tint
    background-color: $tint

.color-compare
    background-color: $compare

.color-dark
    background-color: $dark

.color-white
    background-color: $white

h1,h2,h3,h4,h5,h6
    font-weight: $font-weight-bold
    
.card
    border-radius: $border-radius